{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mavan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script src="{% static 'mavan/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'mavan/style.css' %}"/>
    <meta name="description"
          content="Custom interieur design Leuven">
    <meta name="keywords"
          content="Leuven, lampen, lamp, licht, tafel, ontwerp , design, hout, custom, mavan, matti, ijzer, metaal, staal, mooi, uniek">
    <meta charset="UTF-8">
</head>
<body>
<nav id="mavan-nav" class="navbar navbar-expand-md fixed-top">
    <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#contact"><i class="fas fa-at fa-lg"></i></a>
            </li>

        </ul>
    </div>
    <div class="arrow-down"></div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"><img class="mavan-logo"
                                                      src="{% static 'mavan/img/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/mavanmaakt/"> <i class="fab fa-facebook-f fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/mavanmaakt/"><i class="fab fa-instagram fa-lg"></i></a>
            </li>
        </ul>
    </div>

</nav>

<section id="home" class="text-center">
    <img class="mavan-logo-big" src="{% static 'mavan/img/logo.png' %}">
</section>
<section id="images">
    <div id="columns">
        <figure >
            <img class="image-click" src="{% static 'mavan/img/album/1_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/5_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/3_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/6_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/7_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click"  src="{% static 'mavan/img/album/8_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/9_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/4_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click"  src="{% static 'mavan/img/album/11_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click"  src="{% static 'mavan/img/album/12_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click" src="{% static 'mavan/img/album/13_thumbs.jpg' %}">
        </figure>
        <figure>
            <img class="image-click"  src="{% static 'mavan/img/album/2_thumbs.jpg' %}">
        </figure>
    </div>
</section>

<!-- Trigger the Modal -->

<!-- The Modal -->
<div id="moModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="moImg">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

<footer id="contact" class="footer">
    <div class="container">
        <H1>mavanmaakt@gmail.com</H1>
    </div>
</footer>

</body>
</html>